<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
  <div>
    <div class="navbar-header">
      <div class="navbar-brand">
        <span class="mdi mdi-radar"></span>Minton </div>
    </div>
  </div>
  <button class="navbar-toggler" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> -->


  <div class="nav navbar-nav">
    some nav data
  </div>
</nav>
<p>
  header works!
</p>
